.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 984px;
  margin: 95px auto 88px;
}


@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
    row-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 91px 24px 0;
    row-gap: 69px;
  }
}
