* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 768px;
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #fff;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.content {
    max-width: 768px;
  
}

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 28px 0 56px;
    position: absolute;
    width: 720px;
    height: 52px;
    left: 24px;
    /* top: 28px; */

}

.header__logo {
    
    width: 176px;
    height: 52px;
}

.header__lang {
    display: flex;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    list-style-type: none;
}

.header__lang-links {
    display: flex;
    margin: 5px 0;
    align-self: flex-end;
    list-style-type: none;
}

#lang-ru {
    text-decoration: underline;
}

.header__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    padding-left: 18px;
    transition: .2s ease-in-out;
}
.header__lang-link:hover {
    opacity: 6;
}

.lead {
    align-items: center;
    position: absolute;
    width: 766px;
    height: 862px;
    left: 0px;
    top: 128px;
}


.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto 32px;
}

.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.lead__image {
    position: absolute;
    
    width: 765px;
    height: 480px;
    top: 360px;
}

.lead__caption {

    position: absolute;
    height: 14px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    width: 160px;
    height: 14px;
    left: 24px;
    top: 849px;
}

.intro {
    position: absolute;
    width: 720px;
    height: 429px;
    left: 24px;
    top: 1078px;

}

.intro__title {
    font-family: 'Inter';
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.intro__text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    
    margin: 40px 0px 33px 0;
    
    
}

.intro__list { 
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    list-style-type: none;
}

.intro__span-accent {
    font-family: 'Inter';
    font-weight: 900;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    position: absolute;
    width: 720px;
    left: 24px;
    top: 1595px;
    }

.photo-grid__item {
    object-fit: cover;
    width: 352px;
    height: 264px;
    left: 676px;
    top: 1703px;
}

.places {
    max-width: 768px;
    display: grid;
    margin: 0 auto;
    /* padding-top: 92px; */
    padding-bottom: 92px;
    /* gap: 80px; */

    position: absolute;
    width: 720px;
    height: 2808px;
    left: 24px;
    top: 3347px;
}

.place {
    display: grid;
    grid-template-columns: repeat(340px, 1fr);
    grid-template-rows: auto;
    grid-gap: 28px;
    grid-template-areas:
    "title website"
    "image text";
    width: 720px;
    height: 581px;
    left: 24px;
    top: 3347px;
}


.place__title {
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    /* margin:0 0 48px 0; */
    width: 330px;
    grid-area: title;
}

.place__website {
    align-self: end;
    /* margin-bottom: 46px;
    padding-left: 27px; */
    grid-area: website;
}

.place__url {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #AAA;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.place__link {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    margin: 0;
    text-decoration: underline;
    transition: .2s ease-in-out;
}

.place__link:hover {
    opacity: .4;
}

.place__text {
    /* display: flex;
    flex-direction: column; */
    /* padding-left: 29px; */
    grid-area: text;

} 

.place__paragraph {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin: 0 0 25px 0;
    grid-column: 2;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}


.place__image {
    width: 340px;
    grid-row: 2/2;
}