.place__image {
    max-width: 460px;
    grid-row: 2/4;
}

@media screen and (max-width: 320px) {
    
    .place__image {
        max-width: 90%;
    }
    .header {
        position: absolute;
        width: 288px;
        height: 42px;
        left: 16px;
        top: 16px;
    }

    .header__lang-link {
        position: absolute;
        width: 22px;
        height: 20px;
        left: 242px;
        top: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */

        text-align: right;
        text-decoration-line: underline;

        color: #FFFFFF;

    }
    
    
    
    .lead { 
        position: absolute;
        width: 320px;
        height: 406px;
        left: -2px;
        top: 106px;
    }

    .intro { 
        position: absolute;
        width: 288px;
        height: 754px;
        left: 16px;
        top: 576px;
    }

    .photo-grid {
        position: absolute;
        width: 288px;
        height: 2724px;
        left: 16px;
        top: 1394px;
    }

    .cover {
        position: absolute;
        width: 320px;
        height: 200px;
        left: 0px;
        top: 9425px;
    }

    .footer {
        position: absolute;
        width: 186px;
        height: 310px;
        left: 16px;
        top: 9689px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        position: absolute;
        width: 340px;
        height: 340px;
        left: 24px;
        top: 3487px;
    }
}


/* @media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px; 
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
         max-width: 340px; 
        max-width: 50%;
        padding-bottom: 32px;
    }
} */