.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1200px) {
  .lead {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
  }
}
