.header {
  max-width: 1184px ;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
}

@media screen and (max-width: 1200px) {
  .header  {
    padding: 0 48px 48px;
  }
}

@media screen and (max-width: 769px) {
  .header  {
    padding: 0px 24px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header  {
    padding: 16px 16px 48px;
  }
}