.place__text {
   max-width: 100%;
 }


@media screen and (max-width: 320px) {
  .place__text {
     max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
  .place__text {
     max-width: 40%;
    }
}
