.cover__overlay {
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    text-decoration: none;
}

.cover__overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    transition: .4s ease-in-out;
    z-index: 1;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover__overlay { 
        min-height: 640px;
        margin-top: 91px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
        margin-top: 87px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
        
    }
}

@media screen and (max-width: 662px) {
    .cover__overlay {
        min-height: 380px;
        
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
        margin-top: 66px;
    }
}