.footer {
    max-width: 1184px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 95px 0 24px 0;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}
    
@media screen and (max-width: 1023px) {
  .footer {
    margin-left: 88px;
    margin-top: 24px;
  }

}
    
@media screen and (max-width: 900px) {
  .footer {
    max-width: 800px;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 53px;
  }
}

@media screen and (max-width: 768px) {
    .footer {
      max-width: 740px;
      margin-top: 90px;
      margin-left: 23px;
      margin-right: 23px;
    }
}
 
@media screen and (max-width: 760px) {
  .footer {
    margin-left: 39px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    margin: 70px 29px 25px;
    
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    margin: 64px 16px 10px;
  }
}